* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: lightcyan;
  padding: 2rem;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 650px;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #999494;
}
header h1 {
  text-decoration: underline dotted blue;
}

section h1 {
  text-transform: capitalize;
  text-decoration: underline gray double;
}
.Context_section h1:last-child {
  text-decoration: none;
}
section button {
  padding: 10px;
  border: none;
  outline: none;
  background-color: blue;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
#formUseId {
  text-align: left;
}
#refForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
#refForm button {
  white-space: nowrap;
}
.ml-1 {
  margin-left: 1rem;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
}
